<ion-view view-title="Agregar tren">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nombre</span>
        <input type="text" ng-model="train.name" placeholder="Tren....">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Número</span>
        <input type="text" ng-model="train.number" placeholder="123">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Estado</span>
        <input type="text" ng-model="train.state" placeholder="1">
      </label>      
    </div>

    <button class="button button-block button-positive" ng-click="add(train)">
      Guardar
    </button>
  </ion-content>
</ion-view>
