<ion-view view-title="Trenes">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-plus-round" ui-sref="app.trains-add"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="false">
      <ion-item ng-repeat="train in trains" item="train" href="#/app/trains/{{train.id}}" class="item-remove-animate">
        {{train.name}}
        <ion-delete-button class="ion-minus-circled" 
                            ng-click="onTrainDelete(train, $index)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>